{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="modal"></div>
	<div class="container-cards">
		{% for pokemon in pokemons %}
			<div class="card" style="background-image: url('{{pokemon.background}}')">
				<h3 class="idpoke">{{pokemon.id}}</h3>
				<img class="imgPoke" src="{{pokemon.imgPokemon}}" alt="image de {{pokemon.name}}">
				{% if app.user %}
					{% for favoris in pokemon.favoris %}
						{% if app.user.id == favoris.id %}
							<a href="{{ path('remove_favoris', {id: pokemon.id})}}">
								<img class="star" src="{{ asset('assets/img/other/yellow-star.png') }}" alt="pictogramme d'une étoile jaune">
							</a>
						{% else %}
							<a href="{{ path('add_favoris', {id: pokemon.id})}}">
								<img class="star" src="{{ asset('assets/img/other/star.png') }}" alt="pictogramme d'une étoile vide">
							</a>
						{% endif %}
					{% else %}
						<a href="{{ path('add_favoris', {id: pokemon.id})}}">
							<img class="star" src="{{ asset('assets/img/other/star.png') }}" alt="pictogramme d'une étoile vide">
						</a>
					{% endfor %}
				{% else %}
					<img class="star" src="{{ asset('assets/img/other/star.png') }}" alt="pictogramme d'une étoile vide">
				{% endif %}
				<h2 class="name">{{pokemon.name}}</h2>
			</div>
		{% endfor %}
	</div>
{% endblock %}
