{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="modal"></div>
	<div class="container-cards">
		{% for pokemon in pokemons %}
			<div class="card" style="background-image: url('{{pokemon.background}}')">
				<p class="idpoke">{{pokemon.id}}</p>
				<img class="imgPoke" data-id="{{pokemon.id}}" src="{{pokemon.imgPokemon}}" alt="image de {{pokemon.name}}">
				{% if app.user %}
					{% set isFavorite = false %}
					{% for favoris in pokemon.favoris %}
						{% if favoris.id == app.user.id %}
							{% set isFavorite = true %}
							<img class="star" data-fav="1" data-id="{{pokemon.id}}" src="{{ asset('assets/img/other/yellow-star.png') }}" alt="pictogramme d'une étoile jaune">
						{% endif %}
					{% endfor %}
					{% if not isFavorite %}
						<img class="star" data-fav="0" data-id="{{pokemon.id}}" src="{{ asset('assets/img/other/star.png') }}" alt="pictogramme d'une étoile vide">
					{% endif %}
				{% endif %}

				<h2 class="name">{{pokemon.name}}</h2>
			</div>
		{% endfor %}
	</div>
{% endblock %}
